#todocon{
    background-color: rgb(249, 226, 244);
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2%;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: row;
    column-gap: 8%;
    height:10% ;
    width: 90%;
}
#todoinput{
    height:85% ;
    border-radius: 10px;
    width: 76%;
   
}
#todobutton{
    height: 85%;
    width: 15%;
    border-radius: 10px;
}

#todoitems{
    width: 90%;
    height: 80%;
 
}

#todotext{
    margin: 0;
    width: 100%;
    background-color: black;
    color: pink;
    height: 8%;
    text-align: center;
    position: relative;
    padding-top: 5px;
}

#todoitems ul{
    padding: 0;
    
}
#todoitems ul li{
    background-color: pink;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    }

#todoitems ul li span{
    right: 20px;
    position: absolute;
    cursor: pointer;
}

.licomplete{
    text-decoration: line-through;
}

#todospan{
    position: absolute;
    right: 15px;
    cursor: pointer;

}